@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* For Top Header */
.topHeaderBody {
  background-color: #e6e6e6;
  width: 100%;
  height: auto;
}
.contactInfo ul {
  display: flex !important;
  justify-content: end !important;
  padding: 10px 0 !important;
  margin-right: 10px !important;
}
.socialLink {
  background: #fff;
  margin-left: 10px !important;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.socialLink:hover .mainIcon {
  color: var(--white);
}
.fb {
  color: #3b5999;
}
.LI {
  color: #0077b5;
}
.tw {
  color: #55acee;
}
.socialLink .mainIcon:hover {
  transform: rotateY(360deg);
  transition: 1s;
}
.fb:hover {
  background-color: #3b5999;
  color: var(--white);
}
.LI:hover {
  background-color: #0077b5;
  color: var(--white);
}
.tw:hover {
  background-color: #55acee;
  color: var(--white);
}

.contactEmail,
.contactNumber {
  margin-right: 20px !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
  color: var(--black);
}
/* ---------- */

/* ForBottom NavBar */
.mapsNav {
  background-color: #0f0826 !important;
}
.LogoMain {
  display: flex;
  flex-direction: column !important;
  text-decoration: none;
}
.LogoMain span {
  color: var(--black);
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  color: yellow;
  /* color: var(--blue); */
}
.logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: auto;
}

.mapsNavlink {
  color: var(--white) !important;
  font-size: 18px;
  letter-spacing: 2px;
}
.rightMenuBottomNav ul li {
  margin: 0 15px;
}
.mapsNavlink:hover {
  color: var(--black) !important;
  background-color: var(--white);
  border-radius: 5px;
  transition: 0.5s;
}
/* ---------- */
