/* ======For Video Content Page========== */
.videoContent {
  background-image: url("https://i.ibb.co/gDXXTPw/video-Back.png");
  background-color: red; /* Used if the image is unavailable */
  height: 400px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}
.mainContent {
  padding: 0 30px !important;
}
.leftContent {
  text-align: justify;
  font-size: 18px;
}
.RightVideo{
  /* width: 100%; */

}
/* ======For Video Content Page========== */
