.aboutHeader {
  background-image: url("https://i.ibb.co/tM0WSm1/About-us-red.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 450px;
  overflow-x: hidden !important;
}
.aboutHeader h2 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  text-transform: uppercase;
  font-size: 10vw;
}

.mainContent {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mission,
.vision {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 100%;
}
.mission h2,
.vision h2 {
  width: 40%;
  margin-top: auto;
  margin-bottom: auto;
}
.mission span,
.vision span {
  width: 100%;
  border-left: 1px solid red;
  padding-left: 10px;
  text-align: justify !important;
  font-size: 20px;
}
.topContent {
  font-size: 20px;
  text-align: justify;
}
.topContent span {
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
}
.aboutFooter {
  background-image: url("https://i.ibb.co/4JJNDjp/About-us-foot.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 450px;
}

.aboutFooterContent {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  text-transform: uppercase;
}
.aboutFooterContent h2 {
  font-size: 8vw;
}
.aboutFooterContent h5 {
  font-size: 5vw;
}
.mapshr {
  color: #ff0000;
}
@media only screen and (max-width: 900px) {
  .aboutHeader {
    background-position: 25% 75%;
  }
  .mission,
  .vision {
    display: block;
  }
  .mission span,
  .vision span {
    border-left: 0;
    padding-left: 0;
  }
  .mission h2,
  .vision h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
  }
}
